@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap');

$primary-font: 'Muli', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$default-font: 'Open Sans', sans-serif;







// platform colors
$color-primary: #0F446B;
$color-accent: #0100CD;
$color-black: #071108 !default;
